/.vs
/SGEU.WebApi/bin
/SGEU.WebApi/obj
/CapaDatos/obj
/CapaNegocio/bin
/CapaServicios/bin
/Seguridad/bin
/ServicioGestionEstudiantes.Entidades/obj
/ServicioGestionEstudiantes.WebApi/bin
/ServicioGestionEstudiantes.WebApi/obj
/ServicioGestionEstudiantes.WebApi/obj
/CapaDatos/obj
/CapaDatos/bin
/CapaDatos/bin
/CapaDatos/obj
/CapaDatos/obj
/CapaNegocio/bin
/CapaNegocio/obj
/ServicioGestionEstudiantes.WebApi/bin
/CapaDatos/bin
/CapaNegocio/obj
